<div class="login-wrapper">
  <div class="login-card">
    <div class="login-card-content">
      <div class="login-form-section">
        <h2 class="login-title">Welcome Back</h2>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

          <!-- EMAIL -->
          <div class="form-group">
            <label>Email</label>
            <input
              type="email"
              class="form-control"
              placeholder="Enter your email"
              formControlName="email"
            />

            <app-form-error
              [form]="loginForm"
              controlName="email"
              requiredMessage="Email is required"
              invalidMessage="Enter a valid email"
            />
          </div>

          <!-- PASSWORD -->
          <div class="form-group">
            <label>Password</label>
            <p-password
              formControlName="password"
              [toggleMask]="true"
              [feedback]="false"
              [promptLabel]="'Enter your password'"
              [placeholder]="'Enter your password'"
            ></p-password>

            <app-form-error
              [form]="loginForm"
              controlName="password"
              requiredMessage="Password is required"
              minLengthMessage="Password must be at least 6 characters"
            ></app-form-error>
          </div>

          <!-- API / LOGIN ERROR (FORM LEVEL) -->
          @if (error) {
            <small class="form-error-text">
              {{ error }}
            </small>
          }

          <div class="login-btn-row">
            <button
              type="submit"
              class="login-btn primary-btn"
              [disabled]="loading"
            >
              {{ loading ? 'Logging in...' : 'Login' }}
            </button>

            <button type="button" class="login-btn tertiary-btn">
              Forgot Password
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
